@model DonutzStudio.Models.Lab


@{
    ViewData["Title"] = @Model.Name;
    string[] Times = { "ช่วงเช้า", "ช่วงบ่าย", "ช่วงค่ำ" };
}

@functions
{
    public dynamic GetObjectValue(object o, string propertyName)
    {
        return o.GetType().GetProperty(propertyName).GetValue(o, null);
    }

    public bool CheckAvailable(object date, int i)
    {
        return
        GetObjectValue(date, "Time" + i.ToString()) > 0 &&
        DateTime.Compare(DateTime.Now.AddHours(7), GetObjectValue(date, "Date").Date.AddHours(9 + i * 4)) < 0;
    }

    public bool CheckDisabled(object date, int i)
    {
        return
        GetObjectValue(date, "Selected" + i.ToString()) ||
        !CheckAvailable(date, i);
    }

    public string CheckSelectedTime(object o, int i)
    {
        return GetObjectValue(o, "Selected" + i.ToString()) ? "timeline-selected" : "";
    }
}

<link rel="stylesheet" href="~/css/lab/booking.css" />
<link rel="stylesheet" href="~/css/loginregis.css" />

<script defer src="~/js/lab/booking.js"></script>

<div>
    <h1>
        <a class="back-btn" asp-controller="Lab" asp-action="Index">ห้องปฏิบัติการ</a>
        <span class="slash"> / </span>
        @Model.Name
    </h1>
    <div class="container" style="@String.Format("border-color:{0};background:{0};", Model.Color)">
        <img class="lab-img" src="@Model.LabImage" />
        <img class="item-img" src="@Model.ItemImage" />
        <form asp-action="Edit" class="booking-zone shadow-lg">
            <h3>รายละเอียดห้องปฏิบัติการ</h3>
            <div class="overflow">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label>ชื่อห้องปฏิบัติการ</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>ชื่ออุปกรณ์</label>
                    <input asp-for="ItemName" class="form-control" />
                    <span asp-validation-for="ItemName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>อุปกรณ์คงเหลือ</label>
                    <input asp-for="ItemCount" class="form-control" />
                    <span asp-validation-for="ItemCount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>รูปห้องปฏิบัติการ</label>
                    <input asp-for="LabImage" class="form-control" />
                    <span asp-validation-for="LabImage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>รูปอุปกรณ์</label>
                    <input asp-for="ItemImage" class="form-control" />
                    <span asp-validation-for="ItemImage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>ธีมห้องปฏิบัติการ</label>
                    <input asp-for="Color" class="form-control" type="color" />
                    <span asp-validation-for="Color" class="text-danger"></span>
                </div>
            </div>

            <div class="footer">
                <button class="btn">บันทึกการเปลี่ยนแปลง</button>
            </div>
        </form>

    </div>
</div>
