@using Microsoft.AspNetCore.Http;

@functions{
    string CheckActiveLink(string current)
    {
        String path = Html.ViewContext.RouteData.Values["Controller"].ToString();
        return path == current ? "navbar-link-item-active" : "";
    }

    bool CheckAuthen()
    {
        return Context.Session.GetString("Username")?.Length > 0;
    }

    public static dynamic GetObjectValue(object o, string propertyName)
    {
        return o.GetType().GetProperty(propertyName).GetValue(o, null);
    }
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DonutzStudio</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/global.css" />
    <link rel="stylesheet" href="~/css/layout.css" />
</head>

<body>
    <nav class="navbar shadow">
        <div class="navbar-container">
            <a class="navbar-logo" asp-area="" asp-controller="Lab" asp-action="Index">
                <span>Donutz</span><span>:</span><span>studio</span>
            </a>
            <ul class="navbar-link">
                <a class="navbar-link-item @CheckActiveLink("Lab")" data-link=" lab" asp-area="" asp-controller="Lab"
                    asp-action="Index">ห้องปฎิบัติการ</a>
                <a class="navbar-link-item @CheckActiveLink("MyBooking")" data-link="mybooking" asp-area=""
                    asp-controller="MyBooking" asp-action="Index">การจองของฉัน</a>
            </ul>
            @if (CheckAuthen())
            {
                <span class="navbar-account">@Context.Session.GetString("Username")</span>
                <a class="navbar-btn" asp-controller="Login" asp-action="Logout">ออกจากระบบ</a>
            }
            else
            {
                <a class="navbar-btn" asp-controller="Login" asp-action="Index">ลงชื่อเข้าใช้</a>
            }

        </div>
    </nav>
    <div class="layout">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
