@using Microsoft.AspNetCore.Http;

@functions{
    string CheckActiveLink(string url)
    {
        String current = Html.ViewContext.RouteData.Values["Controller"].ToString();
        return current == url ? "navbar-link-item-active" : "";
    }

    bool CheckUrl(string url)
    {
        String current = Html.ViewContext.RouteData.Values["Controller"].ToString();
        return current == url;
    }

    bool CheckAuthen()
    {
        return Context.Session.GetString("Username") != null;
    }

    bool IsAdmin()
    {
        return Context.Session.GetInt32("IsAdmin") == 1;
    }

    public static dynamic GetObjectValue(object o, string propertyName)
    {
        return o.GetType().GetProperty(propertyName).GetValue(o, null);
    }
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DonutzStudio</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="~/css/global.css" />
    <link rel="stylesheet" href="~/css/layout.css" />
    <script defer src="~/js/global.js"></script>
</head>

<body>
    @if (!CheckUrl("Login") && !CheckUrl("Register"))
    {
        <nav class="navbar shadow">
            <div class="navbar-container">
                <a class="navbar-logo" asp-area="" asp-controller="Lab" asp-action="Index">
                    <span>Donutz</span><span>:</span><span>studio</span>
                </a>
                <ul class="navbar-link">
                    @if (CheckAuthen())
                    {
                        @if (IsAdmin())
                        {
                            <a class="navbar-link-item @CheckActiveLink("Admin")" data-link="lab" asp-area="" asp-controller="Lab"
                    asp-action="Index">ห้องปฎิบัติการ</a>
                            <a class="navbar-link-item @CheckActiveLink("Booking")" data-link="mybooking" asp-area=""
                    asp-controller="Booking" asp-action="">การจองทั้งหมด</a>
                            <a class="navbar-link-item @CheckActiveLink("Account")" data-link="account" asp-area=""
                    asp-controller="Account" asp-action="">จัดการบัญชีผู้ใช้</a>
                        }
                        else
                        {
                            <a class="navbar-link-item @CheckActiveLink("Lab")" data-link="lab" asp-area="" asp-controller="Lab"
                    asp-action="Index">ห้องปฎิบัติการ</a>
                            <a class="navbar-link-item @CheckActiveLink("MyBooking")" data-link="mybooking" asp-area=""
                    asp-controller="MyBooking" asp-action="Index">การจองของฉัน</a>
                        }
                    }
                </ul>
                @if (CheckAuthen())
                {
                    <span class="navbar-account">
                        @if (Context.Session.GetInt32("IsAdmin") == 1)
                        {
                            <i class="fas fa-crown" id="admin-icon"></i>
                        }
                        @Context.Session.GetString("Username")</span>
                    <a class="navbar-btn" style="cursor: pointer;" onclick="openLogoutPopup()">ออกจากระบบ</a>
                }
                else
                {
                    <a class="navbar-btn" asp-controller="Login" asp-action="Index">ลงชื่อเข้าใช้</a>
                }

            </div>
        </nav>
    }
    <div class="layout">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @if (Context.Session.GetString("Error") != null)
    {
        <div class="my-toast-wrapper my-toast-error" id="my-toast">
            <i class="fas fa-exclamation-triangle my-toast-icon"></i>
            @Context.Session.GetString("Error")
            <i class="fas fa-times my-toast-close" onclick="dismissToast()"></i>
        </div>
    }
    @if (Context.Session.GetString("Success") != null)
    {
        <div class="my-toast-wrapper my-toast-success" id="my-toast">
            <i class="fas fa-check-circle my-toast-icon"></i>
            @Context.Session.GetString("Success")
            <i class="fas fa-times my-toast-close" onclick="dismissToast()"></i>
        </div>
    }

    <div class="overlay" id="popupLogout">
        <div class="popup">
            <i class="fas fa-exclamation-triangle big-icon"></i>
            <h2>คำเตือน</h2>
            <p>ยืนยันการจะลงชื่อออกจากบัญชี</p>
            <div class="botton-group">
                <button class="popup-btn" onclick="closeLogoutPopup()">ยกเลิก</button>
                <a asp-controller="Login" asp-action="Logout">
                    <button class="popup-btn popup-btn-main">ยืนยัน</button></a>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    @RenderSection("Scripts", required: false)
</body>

</html>
