@model IEnumerable<DonutzStudio.Models.User>

@{
    ViewData["Title"] = "จัดการบัญชีผู้ใช้";
}

<link rel="stylesheet" href="~/css/account.css" />
<script defer src="~/js/account.js"></script>

<h1>จัดการบัญชีผู้ใช้</h1>
@foreach (var User in Model)
{
    <div class="card shadow">
        <span class="name">
            <label class="label">ชื่อบัญชี</label>
            @if (User.IsAdmin)
            {
                <i class="fas fa-crown" id="admin-icon"></i>
            }
            @if (User.IsBan)
            {
                <i class="fas fa-ban" id="ban-icon"></i>
            }
            @User.Name
        </span>
        <span class="date">
            <label class="label">สร้างบัญชีเมื่อ</label>
            @String.Format("{0:d MMM, yyyy HH:mm}", User.Created)
        </span>

        @if (!User.IsAdmin)
        {
            <form class="ml-auto" asp-action="Ban" asp-route-id="@User.Id">
                @if (User.IsBan)
                {
                    <button class="btn-sm btn-outline"><i class="fas fa-ban icon"></i>
                        ยกเลิกระงับ
                    </button>
                }
                else
                {
                    <button class="btn-sm"><i class="fas fa-ban icon"></i>
                        ระงับชั่วคราว
                    </button>
                }

            </form>
            <button class="btn btn-neg" onclick="openPopup(@User.Id)"><i class="fas fa-trash-alt icon"></i>ลบบัญชี</button>

            <div class="overlay" id="@String.Format("popup{0}", User.Id)">
                <div class="popup">
                    <i class="fas fa-exclamation-triangle big-icon"></i>
                    <h2>คำเตือน</h2>
                    <p>บัญชีนี้จะหายไปอย่างถาวร</p>
                    <div class="botton-group">
                        <button class="popup-btn" onclick="closePopup(@User.Id)">ยกเลิก</button>
                        <form asp-action="Delete" asp-route-id="@User.Id">
                            <button class="popup-btn popup-btn-main">ยืนยัน</button>
                        </form>

                    </div>
                </div>
            </div>
        }

    </div>
}
<footer class="footer"></footer>