@{
    ViewData["Title"] = "การจองของฉัน";
}
@functions
{
    public dynamic GetObjectValue(object o, string propertyName)
    {
        return o.GetType().GetProperty(propertyName).GetValue(o,
        null);
    }
}

<link rel="stylesheet" href="~/css/mybooking.css" />
<script defer src = "~/js/mybooking.js" ></script>

<div>
    <h1>การจองของฉัน</h1>
    @foreach (var bookDate in ViewBag.Mybooking)
    {
        <div>
        <h2>@GetObjectValue(bookDate, "Date")</h2>
        @foreach (var book in GetObjectValue(bookDate, "Booking"))
        {
            <div class="card shadow">
                <li>@GetObjectValue(book, "LabName")</li>
                <li>@GetObjectValue(book, "Time")</li>
                <li>@GetObjectValue(book, "ItemName")</li>
                <button class="navbar-btn" onclick = "cancel(@GetObjectValue(book, "BookingID"))" >ยกเลิกการจอง</button>
            </div>
        }
        </div>
    }
</div>
