@{
    ViewData["Title"] = "การจองของฉัน";
}
@functions
{
    public dynamic GetObjectValue(object o, string propertyName)
    {
        return o.GetType().GetProperty(propertyName).GetValue(o,
        null);
    }
}

<link rel="stylesheet" href="~/css/mybooking.css" />
<script defer src="~/js/mybooking.js"></script>

<div>
    <h1>การจองของฉัน</h1>
    @foreach (var bookDate in ViewBag.Mybooking)
    {
        <div>
            <h2>@GetObjectValue(bookDate, "Date")</h2>
            @foreach (var book in GetObjectValue(bookDate, "Booking"))
            {
                <div class="card shadow">
                    <div class="details">
                        <div class="wrapper">
                            <div class="topic">ห้อง</div>
                            <div>@GetObjectValue(book, "LabName")</div>
                        </div>
                        <div class="wrapper">
                            <div class="topic">ช่วงเวลา</div>
                            <div>@GetObjectValue(book, "Time")</div>
                        </div>
                        <div class="wrapper">
                            <div class="topic">อุปกรณ์</div>
                            <div>@GetObjectValue(book, "ItemName")</div>
                        </div>
                    </div>

                    <button class="cancel-btn" onclick="cancel(@GetObjectValue(book, "BookingID"))">ยกเลิกการจอง</button>
                </div>
            }
        </div>
    }
</div>
