@{
    ViewData["Title"] = "การจองของฉัน";
}
@functions
{
    public dynamic GetObjectValue(object o, string propertyName)
    {
        return o.GetType().GetProperty(propertyName).GetValue(o,
        null);
    }
}

<link rel="stylesheet" href="~/css/mybooking.css" />
<script defer src="~/js/booking.js"></script>
<div>
    <h1>การจองทั้งหมด</h1>
    @foreach (var bookDate in ViewBag.Mybooking)
    {
        <div>
            <h2>@GetObjectValue(bookDate, "Date")</h2>
            @foreach (var book in GetObjectValue(bookDate, "Booking"))
            {
                <div class="card shadow">
                    <li>@GetObjectValue(book, "LabName")</li>
                    <li>@GetObjectValue(book, "Time")</li>
                    <li>@GetObjectValue(book, "ItemName")</li>
                    <li>@GetObjectValue(book , "Username")</li>
                    <a>ระงับบัญชีชั่วคราว</a>
                    <button onclick="open_popup(@GetObjectValue(book,"BookingID"))">ยกเลิกการจอง</button>
                </div>
                <div class="overlay" id="@String.Format("popup{0}",GetObjectValue(book,"BookingID"))">
                    <div class="popup">
                        คุณแน่ในหรือไม่ที่จะยกเลิกการจอง?
                        <div class="confirm_to_delete">
                            <button onclick="close_popup(@GetObjectValue(book,"BookingID"))">ไม่ทำ</button>
                            <form asp-action="Delete" asp-route-id="@GetObjectValue(book,"BookingID")">
                                <input type="submit" value="แน่ใจ" class="btn btn-danger" />
                            </form>
                        </div>

                    </div>
                </div>
            }
        </div>
    }
</div>
