@model DonutzStudio.Models.Lab

@{
    ViewData["Title"] = @Model.Name;
    string[] Times = { "ช่วงเช้า", "ช่วงบ่าย", "ช่วงค่ำ" };
}

@functions
{
    public dynamic GetObjectValue(object o, string propertyName)
    {
        return o.GetType().GetProperty(propertyName).GetValue(o, null);
    }

    public bool CheckAvailable(object date, int i)
    {
        return
        GetObjectValue(date, "Time" + i.ToString()) > 0 &&
        DateTime.Compare(DateTime.Now, GetObjectValue(date, "Date").Date.AddHours(9 + i * 4)) < 0;
    }

    public bool CheckDisabled(object date, int i)
    {
        return
        GetObjectValue(date, "Selected" + i.ToString()) ||
        !CheckAvailable(date, i);
    }

    public string CheckSelectedTime(object o, int i)
    {
        return GetObjectValue(o, "Selected" + i.ToString()) ? "timeline-selected" : "";
    }
}

<link rel="stylesheet" href="~/css/lab/booking.css" />
<script defer src="~/js/lab/booking.js"></script>

<div>
    <h1>
        <a class="back-btn" asp-controller="Lab" asp-action="Index">ห้องปฏิบัติการ</a>
        <span class="slash"> / </span>
        @Model.Name
    </h1>
    <div class="container" style="@String.Format("border-color:{0};background:{0};", Model.Color)">
        <img class="lab-img" src="@Model.LabImage" />
        <img class="item-img" src="@Model.ItemImage" />
        <form class="booking-zone shadow-lg" id="form" onsubmit="(() => submitHandler(event, @Model.Id, 
             @ViewBag.UserId))(event)">
            <h3 class="h3">เลือกช่วงเวลาที่จะใช้งาน
                <span style="@String.Format("color:{0};", Model.Color)">@Model.ItemName</span>
            </h3>
            <div class="time-detail">
                <span>ช่วงเช้า 09:00 - 12:00</span>
                <span>ช่วงบ่าย 13:00 - 16:00</span>
                <span>ช่วงค่ำ 17:00 - 19:00</span>
            </div>

            <div class="date-zone">
                @foreach (var Date in ViewBag.Timelines)
                {
                    <div class="date-card">
                        <div class="date">
                            <span class="day">@GetObjectValue(Date, "Day")</span>
                            <span class="month">@GetObjectValue(Date, "Month")</span>
                            <span class="year">@GetObjectValue(Date, "Year")</span>
                        </div>
                        <div class="timeline-zone" data-date="@GetObjectValue(Date, "Date")">
                            @for (var i = 0; i < Times.Count(); i++)
                            {
                                <div class="timeline @CheckSelectedTime(Date, i)">
                                    <span class="w-60 check-zone">
                                        <input type="checkbox" class="input-checkbox" onchange="toggleCheckbox(event)"
                                    checked="@GetObjectValue(Date, "Selected" + i.ToString())"
                                    disabled="@CheckDisabled(Date, i)" /></span>
                                    <span class="w-80">@Times.ElementAt(i)</span>
                                    <span class="w-100">อุปกรณ์คงเหลือ</span>
                                    <span class="w-50">@GetObjectValue(Date, "Time" + i.ToString())</span>
                                    @if (!CheckAvailable(Date, i))
                                    {
                                        <span class="error">ไม่สามารถจองได้</span>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
            <div class="footer">
                <button class="btn btn-gray" type="button" id="reset-btn">รีเซ็ตการเลือก</button>
                <span style="width: 10px;"></span>
                <button class="btn">ยืนยันการจอง</button>
            </div>
        </form>
    </div>
</div>
